
/* Header */

.setting {
  -webkit-mask-position: -200px -29px;
  height: 19.5px;
  margin: auto 6px;
  width: 19.5px;
}

.setting-dropdown li {
  -webkit-user-select: none;
  padding-left: 1rem;
}

.setting-dropdown input {
  vertical-align: text-bottom;
}

.light {
  & .setting {
    background-color: var(--grey-darkest);

    &:hover {
      background-color: #333;
    }
  }

  & .setting-dropdown {
    background: var(--grey-light);
  }
}

.dark {
  & .setting {
    background-color: #A5A5A5 !important;

    &:hover {
      background-color: #CCCCCC;
    }
  }

  & .setting-dropdown {
    background: var(--grey-darkest);
    color: var(--grey-light);
  }
}