
/* Info Panel */

.changed {
  background-color: var(--bt-change-highlight-color);
}

.info-value {
  color: var(--bt-type-color);
}

.info-key {
  color: var(--bt-key-color);
}

.info-editable {
  border-bottom: dashed 1px !important;
  border: 0;
  display: inline-block;

  &:focus {
    border-bottom: 0 !important;
  }
}

bt-component-info a,
bt-component-info a:link,
bt-component-info a:visited,
bt-component-info a:active {
  color: var(--bt-link-color);
  text-decoration: none;
}

bt-component-info a:hover {
  text-decoration: underline;
}

bt-dependency ul li:last-child {
  border-bottom: none;
}

.light {
  & .info-editable {
    background-color: var(--bt-editable-highlight-color);
    border-bottom-color: blue;
    color: var(--bt-editable-color);
  }
}

.dark {
  & .info-editable {
    background-color: rgb(36, 36, 36);
    border-bottom-color: rgb(189, 198, 207);
    color: rgb(189, 198, 207);
  }
}