
/* Tab Menu */

bt-tab-menu header {
  -webkit-user-select: none;
  height: 26px;
}

.tab-menu-title {
  cursor: pointer;
  font-size: var(--tab-menu-title);
  padding-top: 3px;
}

.light {
  & .tab-menu-title:hover {
    background-color: var(--grey-medium);
  }
}

.dark {
  & .tab-menu-title:hover {
    color: rgb(204, 204, 204);
    background-color: rgb(49, 49, 49);
  }
}