
/* Tab Menu */

bt-tab-menu header {
  -webkit-user-select: none;
  height: 26px;
}

.tab-menu-title {
  cursor: pointer;
  font-size: var(--tab-menu-title);
  padding-top: 3px;
}

.light {
  & .tab-menu-title {
    color: #5A5A5A;

    &.selected {
      color: #333;
    }
  }

  & .tab-menu-title:hover {
    background-color: var(--grey-medium);
    color: #333;
  }
}

.dark {
  & .tab-menu-title {
    color: #A5A5A5;

    & .selected {
      color: #CCCCCC;
    }
  }

  & .tab-menu-title:hover {
    color: #CCCCCC;
    background-color: #313131;
  }
}