/*
 * Index
 */

/* Basscss Modules */
@import 'basscss';
@import 'basscss-border-colors';
@import 'basscss-layout';
@import 'basscss-type-scale';
@import 'basscss-typography';

/* CSS Folder Imports */
@import './base.css';
@import './components/components.css';
@import './properties.css';
@import './utils/utils.css';

/* dark theme */
.dark {

  & .node-item-name,
  & .info-key,
  & .key {
    color: #A28AD0 !important;
  }

  & .node-item-property,
  & .constructor-name,
  & .boolean {
    color: rgb(189, 198, 207) !important;
  }

  & .node-item-value,
  & .info-value,
  & .bracket,
  & .number,
  & .value,
  & .string {
    color: #FFCC33 !important;
  }

  & .node-item:hover {
    background-color: rgb(61, 61, 61) !important;
  }

  & .node-item-selected,
  & .node-item-selected:hover {
    background-color: #A28AD0 !important;

    & .node-item-name,
    & .node-item-property,
    & .node-item-value {
      color: rgb(36, 36, 36) !important;
    }
  }

  & .expand-arrow {
    background-color: #A5A5A5 !important;
  }

  & .double-arrow {
    background-color: #A5A5A5 !important;
  }

  & .toggler {
    color: #A5A5A5 !important;
  }
}

/* Override the default expansion arrow indicator of json-formatter */
.toggler:after {
  content: '▶' !important;
}

.transparent {
  opacity: 0;
  pointer-events: none;
}