
/* Base */

html,
body {
  /* Override basscss default white background to prevent a white flash during load. */
  background-color: inherit !important;

  font-size: 11px;
  font-family: '.SFNSDisplay-Regular', 'Helvetica Neue', 'Lucida Grande', sans-serif;
}

bt-tab-menu > header {
  padding-left: 5px;
}

.monospace {
  font-family: 'Menlo', monospace;
}

.vh-100 {
  height: 100vh;
}

.mh100pct {
  max-height: 100%;
}


.pointer {
  cursor: pointer;
}

.border-transparent {
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-top: 1px solid transparent;
}

.outline {
  outline: 0;
}

.border-none {
  border: 0;
}

.disabled-color {
  opacity: 0.6;
}
